<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_004{font-family:Times,serif;font-size:9.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_004{font-family:Times,serif;font-size:9.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_002{font-family:Times,serif;font-size:21.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_002{font-family:Times,serif;font-size:21.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_003{font-family:Times,serif;font-size:23.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_003{font-family:Times,serif;font-size:23.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_005{font-family:Times,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: underline}
div.cls_005{font-family:Times,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_007{font-family:Times,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_007{font-family:Times,serif;font-size:8.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_008{font-family:Times,serif;font-size:9.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_008{font-family:Times,serif;font-size:9.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_009{font-family:Times,serif;font-size:7.0px;color:rgb(0,0,0);font-weight:bold;font-style:italic;text-decoration: none}
div.cls_009{font-family:Times,serif;font-size:7.0px;color:rgb(0,0,0);font-weight:bold;font-style:italic;text-decoration: none}
span.cls_010{font-family:Times,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_010{font-family:Times,serif;font-size:10.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
-->
</style>
<script type="text/javascript" src="wz_jsgraphics.js"></script>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-297px;top:0px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:486.48px;top:20.76px" class="cls_004"><span class="cls_004">Tele : +91-0353-2532344</span></div>
<div style="position:absolute;left:52.56px;top:22.44px" class="cls_002"><span class="cls_002">111.</span></div>
<div style="position:absolute;left:109.20px;top:20.28px" class="cls_002"><span class="cls_002">MEDICAL EQUIPMENT</span></div>
<div style="position:absolute;left:466.80px;top:31.32px" class="cls_004"><span class="cls_004">Tele Fax</span></div>
<div style="position:absolute;left:507.12px;top:30.60px" class="cls_004"><span class="cls_004">: +91-0353-2460019</span></div>
<div style="position:absolute;left:458.88px;top:40.44px" class="cls_004"><span class="cls_004">E-mail : saktimoysIgagmailcom</span></div>
<div style="position:absolute;left:52.56px;top:44.20px" class="cls_003"><span class="cls_003">Pt</span></div>
<div style="position:absolute;left:108.48px;top:45.00px" class="cls_002"><span class="cls_002">AND DEVICES</span></div>
<div style="position:absolute;left:271.44px;top:124.36px" class="cls_005"><span class="cls_005">Proforma Invoice</span></div>
<div style="position:absolute;left:92.16px;top:139.08px" class="cls_004"><span class="cls_004">Proforma Invoice: MED/036/2018-19</span></div>
<div style="position:absolute;left:325.20px;top:139.80px" class="cls_004"><span class="cls_004">I/E Code no. AAEFM4473D</span></div>
<div style="position:absolute;left:92.16px;top:150.36px" class="cls_004"><span class="cls_004">Dated: 23-11.2018</span></div>
<div style="position:absolute;left:324.96px;top:151.08px" class="cls_004"><span class="cls_004">GST No: 19AAEFM4473D1ZA</span></div>
<div style="position:absolute;left:92.40px;top:173.16px" class="cls_004"><span class="cls_004">Indenter:</span></div>
<div style="position:absolute;left:324.96px;top:173.88px" class="cls_004"><span class="cls_004">Consignee :</span></div>
<div style="position:absolute;left:91.92px;top:184.20px" class="cls_004"><span class="cls_004">To,</span></div>
<div style="position:absolute;left:324.72px;top:184.92px" class="cls_004"><span class="cls_004">To,</span></div>
<div style="position:absolute;left:91.92px;top:195.48px" class="cls_004"><span class="cls_004">The Chief Engineer</span></div>
<div style="position:absolute;left:324.72px;top:196.20px" class="cls_004"><span class="cls_004">The Chief Engineer</span></div>
<div style="position:absolute;left:92.40px;top:206.28px" class="cls_004"><span class="cls_004">Bio-Medical Engineering Division</span></div>
<div style="position:absolute;left:325.20px;top:207.24px" class="cls_004"><span class="cls_004">Bio-Medical Engineering Division</span></div>
<div style="position:absolute;left:92.40px;top:217.80px" class="cls_004"><span class="cls_004">Department Of Medical Supplies & Health Infrastructure</span></div>
<div style="position:absolute;left:325.20px;top:218.28px" class="cls_004"><span class="cls_004">Department Of Medical Supplies & Health Infrastructure</span></div>
<div style="position:absolute;left:92.40px;top:228.84px" class="cls_004"><span class="cls_004">Ministry OF Health, Thimphu, Bhutan.</span></div>
<div style="position:absolute;left:325.20px;top:229.56px" class="cls_004"><span class="cls_004">Ministry OF Health, Thimphu, Bhutan.</span></div>
<div style="position:absolute;left:92.40px;top:245.16px" class="cls_004"><span class="cls_004">Billing Details</span></div>
<div style="position:absolute;left:325.20px;top:245.88px" class="cls_004"><span class="cls_004">Dispatch Details</span></div>
<div style="position:absolute;left:92.40px;top:257.44px" class="cls_007"><span class="cls_007">Ref No.:</span></div>
<div style="position:absolute;left:325.20px;top:258.16px" class="cls_007"><span class="cls_007">Delivery To</span></div>
<div style="position:absolute;left:423.12px;top:258.40px" class="cls_007"><span class="cls_007">Consignee</span></div>
<div style="position:absolute;left:92.40px;top:268.48px" class="cls_007"><span class="cls_007">Ref Date:</span></div>
<div style="position:absolute;left:325.20px;top:269.20px" class="cls_007"><span class="cls_007">Delivery Period</span></div>
<div style="position:absolute;left:425.52px;top:269.44px" class="cls_007"><span class="cls_007">within 45 Days</span></div>
<div style="position:absolute;left:92.40px;top:279.76px" class="cls_007"><span class="cls_007">Bills To</span></div>
<div style="position:absolute;left:186.96px;top:280.24px" class="cls_007"><span class="cls_007">Consignee</span></div>
<div style="position:absolute;left:325.20px;top:280.48px" class="cls_007"><span class="cls_007">Road Permit</span></div>
<div style="position:absolute;left:425.04px;top:280.72px" class="cls_007"><span class="cls_007">N/A</span></div>
<div style="position:absolute;left:92.40px;top:291.04px" class="cls_007"><span class="cls_007">Bill In Name</span></div>
<div style="position:absolute;left:186.24px;top:291.28px" class="cls_007"><span class="cls_007">Consignee</span></div>
<div style="position:absolute;left:325.20px;top:291.76px" class="cls_007"><span class="cls_007">Freight Charges</span></div>
<div style="position:absolute;left:424.56px;top:292.00px" class="cls_007"><span class="cls_007">Paid — Door Delivery</span></div>
<div style="position:absolute;left:92.40px;top:302.08px" class="cls_007"><span class="cls_007">Payment Terms</span></div>
<div style="position:absolute;left:186.48px;top:302.56px" class="cls_007"><span class="cls_007">100% Advance</span></div>
<div style="position:absolute;left:325.20px;top:302.80px" class="cls_007"><span class="cls_007">Mode of Transport</span></div>
<div style="position:absolute;left:426.00px;top:303.04px" class="cls_007"><span class="cls_007">Road</span></div>
<div style="position:absolute;left:98.64px;top:324.36px" class="cls_004"><span class="cls_004">SI</span></div>
<div style="position:absolute;left:229.20px;top:330.84px" class="cls_004"><span class="cls_004">Description</span></div>
<div style="position:absolute;left:390.72px;top:331.32px" class="cls_004"><span class="cls_004">Qty</span></div>
<div style="position:absolute;left:425.76px;top:331.32px" class="cls_004"><span class="cls_004">Rate (INR)</span></div>
<div style="position:absolute;left:489.60px;top:331.32px" class="cls_004"><span class="cls_004">Amount (INR)</span></div>
<div style="position:absolute;left:96.72px;top:335.88px" class="cls_004"><span class="cls_004">no.</span></div>
<div style="position:absolute;left:100.32px;top:361.80px" class="cls_004"><span class="cls_004">1</span></div>
<div style="position:absolute;left:123.36px;top:362.04px" class="cls_004"><span class="cls_004">Trackball Control Panel Assembly FRU Par</span></div>
<div style="position:absolute;left:389.52px;top:362.52px" class="cls_004"><span class="cls_004">1no</span></div>
<div style="position:absolute;left:429.60px;top:362.76px" class="cls_004"><span class="cls_004">43,660.00</span></div>
<div style="position:absolute;left:503.76px;top:363.00px" class="cls_004"><span class="cls_004">43,660.00</span></div>
<div style="position:absolute;left:124.08px;top:386.76px" class="cls_004"><span class="cls_004">Part No. 453561832471</span></div>
<div style="position:absolute;left:123.60px;top:411.48px" class="cls_004"><span class="cls_004">Warranty 90 Days</span></div>
<div style="position:absolute;left:124.08px;top:436.44px" class="cls_004"><span class="cls_004">HSN / SAC Code: 84716029</span></div>
<div style="position:absolute;left:124.08px;top:474.12px" class="cls_004"><span class="cls_004">OLD Part Exchange Basis</span></div>
<div style="position:absolute;left:124.56px;top:662.28px" class="cls_008"><span class="cls_008">Rupees Nu. Forty three thousand six hundred sixty only.</span></div>
<div style="position:absolute;left:504.00px;top:663.72px" class="cls_004"><span class="cls_004">43,660.00</span></div>
<div style="position:absolute;left:93.12px;top:675.72px" class="cls_008"><span class="cls_008">For Medical Equipment & Devices</span></div>
<div style="position:absolute;left:112.56px;top:703.88px" class="cls_009"><span class="cls_009">Plrql Vri</span></div>
<div style="position:absolute;left:164.40px;top:704.12px" class="cls_009"><span class="cls_009">etit</span></div>
<div style="position:absolute;left:196.32px;top:695.00px" class="cls_009"><span class="cls_009">Q EN</span></div>
<div style="position:absolute;left:222.96px;top:701.48px" class="cls_009"><span class="cls_009">4°</span></div>
<div style="position:absolute;left:92.40px;top:714.84px" class="cls_008"><span class="cls_008">Authorized Signator ...I</span></div>
<div style="position:absolute;left:224.16px;top:719.64px" class="cls_008"><span class="cls_008">1</span></div>
<div style="position:absolute;left:90.48px;top:805.04px" class="cls_010"><span class="cls_010">OFFICE : "SURAMA ABASON", 22 SARAT BOSE ROAD, HAKIMPARA, SILIGURI - 734001, W.B. INDIA</span></div>
</div>

</body>
</html>
